.top-bar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    min-height: 80px;
}

.bottom-bar {
    background-color: #000;
    width: 100%;
}

.main-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar {
    border-right: 1px solid #ddd;
    padding: 20px;
}

.direction-square {
    width: 100%;
    padding-top: 100%;
    background-color: #f8f9fa;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}

.direction-square .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.direction-square .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.direction-square .header h5 {
    font-size: 1.5rem;
    margin: 0;
}

.direction-square .image {
    width: 100%;
    height: 70%;
    object-fit: cover;
    margin-top: 10px;
}

.direction-square .description {
    display: none;
    position: absolute;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1.1rem;
    z-index: 10;
}

.direction-square .description.right {
    left: 100%;
}

.direction-square .description.left {
    right: 100%;
}

#userPopup, #logoutPopup, #adminPopup, #removeAdminPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
}

#userPopup .popup-content, #logoutPopup .popup-content, #adminPopup .popup-content, #removeAdminPopup .popup-content {
    max-width: 400px;
    font-size: 1.25rem;
}

#userPopup .popup-content h3 {
    font-size: 1.75rem;
}

#logoutPopup .popup-content button, #adminPopup .popup-content button, #removeAdminPopup .popup-content button {
    font-size: 1.25rem;
    padding: 10px 20px;
}

.user-link {
    cursor: pointer;
}

.admin-buttons {
    display: inline-block; /* Ограничиваем ширину контейнера */
}

.admin-buttons button {
    display: inline-block; /* Кнопки в ряд */
    margin-left: 10px; /* Отступ между кнопками */
}