{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
    <h1>Направления</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for direction in directions %}
            <div class="col">
                <a href="{{ url_for('direction', direction_name=direction.name) }}" class="card direction-card text-decoration-none text-dark">
                    <div class="card-img-container">
                        <img src="{{ url_for('static', filename='images/' + direction.image_path) }}"
                             class="card-img-top"
                             alt="{{ direction.name }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ direction.name }}</h5>
                        <p class="card-text">{{ direction.description }}</p>
                        <button class="btn btn-sm btn-primary">Формулы</button>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}